#signInModal {
    width:250px;
    box-shadow: 10px 10px 100px black
}

#signin-button {
    background-color: #343a40;
    border: none;
    box-shadow: 1px 1px 5px rgb(0, 0, 0)

}

#signin-button:hover {
    background-color: #24282c;
}

.modal-parts {
    background-color: #ffffff!important;
    border: none!important;
    color: rgb(0, 0, 0);
}
