/* @import url("https://fonts.googleapis.com/css?family=Raleway"); */

.nav-item {
    font-size: 20px;
}

.nav-tabs .nav-link{
    border:none;
    box-shadow: 1px 1px 10px rgb(0, 0, 0)
}

.nav-item:hover{
    color:rgb(255, 255, 255);
    background: #1b1b1bcc;
}

.active.nav-link {
    background: #261cacbd!important;
    color: white!important;
}

.tabsBtns {
    /* font-family: 'Raleway', sans-serif; */
    background-color:rgba(245, 245, 245, 0.500);
    border:none;
    border-radius: 50px 50px;
    margin-right: 10px;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
    box-shadow: 2px 2px 10px black;
    color: black!important;
}

.fb-page {
    background-color: rgba(71, 71, 71, 0.712);
    box-shadow: 2px 2px 10px rgb(0, 0, 0)
}

.tncBtns {
    height:40px;
    margin:4px;
}

.heebsBtns {
    height:40px;
    margin:4px;
}

.davesBtns {
    height:40px;
    margin:4px;
}

.tabsBtns:hover {
    border:2px solid black;
    margin:-2px;
    margin-right: 8px;
}

.nav-item1 {
    float: left;
    width:33.33%;
    color:white;
    background: #000000cc;
}

.nav-item2 {
    float: left;
    width: 33.33%;
    background: #000000cc;
    color:white;
}

.nav-item3 {
    float: left;
    width: 33.33%;
    background: #000000cc;
    color:white;
}

#tabs {
    text-align: center;
    /* font-family: 'Raleway', sans-serif; */
    text-shadow: 2px 2px 10px black;
}

.photos-buttons {
    float:right;
    overflow: scroll;
    margin-right: 20px;
}

#photos-buttons-div {
    width:1100px;
    text-align: center;
}

#photos-buttons-outter-div {
    width: 800px;
    overflow: scroll;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bozeman-video {
    text-align: center;
}

#MooseTabs-div {
    margin: 30px
}