@import url("https://fonts.googleapis.com/css?family=Raleway");

.nav-item {
    font-size: 20px;
}

.nav-tabs .nav-link{
    border:none;
    box-shadow: 1px 1px 10px rgb(0, 0, 0)
}

.nav-item:hover{
    color:grey;
    background: #36272ccc;
}

.active.nav-link {
    background: #36272ccc!important;
}

.tabsBtns {
    font-family: 'Raleway', sans-serif;
    background-color:rgba(245, 245, 245, 0.500);
    border:none;
    border-radius: 50px 50px;
    margin-right: 10px;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
    box-shadow: 2px 2px 10px black
}

.fb-page {
    background-color: rgba(71, 71, 71, 0.712);
    box-shadow: 2px 2px 10px rgb(0, 0, 0)
}

.tncBtns {
    height:40px;
    margin:4px;
}

.heebsBtns {
    height:40px;
    margin:4px;
}

.davesBtns {
    height:40px;
    margin:4px;
}

.tabsBtns:hover {
    border:2px solid black;
    margin:-2px;
    margin-right: 8px
}

.nav-item1 {
    float: left;
    width:33.33%;
    color:white;
    background: #563f46cc;
}

.nav-item2 {
    float: left;
    width: 33.33%;
    background: #563f46cc;
    color:white;
}

.nav-item3 {
    float: left;
    width: 33.33%;
    background: #563f46cc;
    color:white;
}

#tabs {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 10px black;
}
