.app-logo {
    float: left;
}

#navbar-main {
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-end;
}

#dropdown-menu {
    background-color: #8ca3a3!important;
}

#navbar-dropdown {
    -right: 30px;
    background-color:#343a40!important;
    color: #ffffff!important;
}

#navbar-dropdown:hover {
    font-style: normal!important;
}

.dropdown-item:hover {
    background-color: #8ca3a3!important;
}
