a:not([href]):not([tabindex]) {
    color: white!important;
    background-color: rgba(98, 98, 98, 0.507)
}

li {
    padding: 10px!important;
    background-color:rgba(0, 0, 0, 0.568);
    color:white;
    font-size: 16px;
    border:solid black 1px;
    /* margin: 1px; */
}

.card-body {
    margin-top: 10px;
    padding:10px;
    /* margin: -20px */
    /* background-color: rgba(56, 56, 56, 0.507); */
    /* box-shadow: 2px 2px 10px rgb(0, 0, 0); */
    color:rgb(17, 13, 13);
    /* background: linear-gradient(to bottom right, #484f4f, #707070); */
    /* background-image: url("https://www.bigskypsychology.com/img/big-sky-phychology-head6.jpg"); */
    background-repeat: no-repeat;
    /* overflow: scroll; */
}

#moosetabs-text {
    padding: 10px;

}

/* .site-popover {
    background-color: black !important;
} */

.mappy {
    float:left; 
}

#map {
    width: 30vw;
    height: 30vw;
}