#welcome-logo {
    width:350px;
    display: block;
    margin-left: 38vw;
    text-align: center;
}

#profile-box {
    width: 200px;
    border:2px solid grey;
    float:left;
    font-size: 16px;
    text-shadow: .5px .5px grey;
    text-align: center;
}

#test-sms {
    margin-bottom: 5px;
}
